@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(imagesConsultorio/intalaciones3.JPG);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

    width: 100px;
    height: 100px;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #29a2d1;
}

#menu {
    display: none;
}

.menu-icono {
    width: 30px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}


.standards {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.dental-content {
    text-align: center;
}

.dental-content h2 {
    font-size: 50px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}



.standar-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.estandarte-1 {
    padding: 0 25px;
}

.estandarte-1 img {
    width: 200px;

}


.estandarte-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(imagesConsultorio/intalaciones4.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 0;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.carousel img {
    height: 600px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 2);
}

.carousel img:first-child {
    margin-left: 0px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e4f0;
}

.general-2 {
    background-image: url(imagesConsultorio/mision_codigo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(imagesConsultorio/vision_codigo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #373732;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.txt-p {
    font-size: 16px;
    color: #1f1c1c;
    margin: 25px 0 45px 0;
}

.doctor {
    padding: 100px 0;
    text-align: center;
}

.doctor-content {
    display: flex;
    justify-content: space-between;
}

.doctor-1 {
    margin: 20px;
    border-radius: 6%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 55px;
}

.doctor-1:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.doctor-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.doctor-1 h3 {
    font-size: 25px;
    color: #323337;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background: url(imagesConsultorio/1.jpg);
    color: #fff;
}

.contact-in:nth-child(2) {
    flex: 45%;
    background: #29a2d1;
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 19px;
    line-height: 35px;
    color: #000000;
}

.contact-in ul li a i:hover {
    color: #29a2d1;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;

}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;

}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
}

.galeria {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    margin: 20px;
    /* Agrega margen alrededor de la sección */
    padding: 40px 60px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .box ul li a {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 12px;
}

.pie-pagina .box ul li a:hover {
    color: #29a2d1;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* Estilos específicos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    
    }

    .dental-content h2 {
        font-size: 35px;
    }

    .standar-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .estandarte-1 {
        padding: 0 15px;
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .estandarte-1 img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .estandarte-1 h3 {
        color: #323337;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .carousel img {
        align-content: auto;
        height: 380px;
        width: 100%;
    }

    .services{
        padding: 10px;
    }

}

/* Estilos específicos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .carousel img {
        height: 390px;
        width: calc(100% / 1);
    }

    .services{
        padding: 10px;
    }
}

/* Estilos específicos para pantallas grandes */
@media screen and (min-width: 1200px) {
    .carousel img {
        height: 390px;
        width: calc(100% / 2);
    }

    .services{
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}



@media only screen and (max-width: 400px),
only screen and (max-width: 360px) {

    .contact-in:nth-child(1),
    .contact-in:nth-child(2) {
        flex: 50%;
    }

    .contact-in:nth-child(3) {
        flex: 100%;
    }
}



@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .standards {
        padding: 30px;
    }

    .dental-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .standar-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .standards-img {
        display: none;
    }



    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2,
    .general-3 {
        display: none;
    }

    .doctor {
        padding: 30px;
    }

    .doctor-content {
        flex-direction: column;
    }

    .doctor-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom {
        padding: 30px;
    }
}